<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biglaan Ph</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../public/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- custom js file link  -->
    <script src="../public/js/script.js" defer></script>

</head>
<body>
    
<!-- header section starts  --> 

<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i> Biglaan <span style='color:#29d9d5'>PH</span></a>

    <nav class="navbar">
        <a data-aos="zoom-in-left" data-aos-delay="300" href="#home">home</a>
        <a data-aos="zoom-in-left" data-aos-delay="450" href="#about">about</a>
        <a data-aos="zoom-in-left" data-aos-delay="600" href="#destination">Packages</a>
        <a data-aos="zoom-in-left" data-aos-delay="750" href="#services">services</a>
        <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery">gallery</a>
        <a data-aos="zoom-in-left" data-aos-delay="1150" href="#blogs">blogs</a>
    </nav>


</header>

<!-- header section ends -->

<!-- home section starts  -->

<!-- this is a comment -->

<section class="home" id="home">

    <div class="content">
        <span data-aos="fade-up" data-aos-delay="150">Follow Us</span>
        <h3 data-aos="fade-up" data-aos-delay="300">To the Unknown</h3>
        <p data-aos="fade-up" data-aos-delay="450">“Don’t travel just to see. Travel to try, listen, feel, taste. That way there won’t be any place you cannot find beauty.”</p>
        <a data-aos="fade-up" data-aos-delay="600" href="itinerary.php" class="btn">Book Now</a>
    </div>

</section>

<section class="about" id="about">

    <div class="video-container" data-aos="fade-right" data-aos-delay="300">
        <video src="../public/images/AboutVideo1.mp4" muted autoplay loop class="video"></video>
        <div class="controls">
            <span class="control-btn" data-src="../public/images/AboutVideo1.mp4"></span>
            <span class="control-btn" data-src="../public/images/AboutVideo2.mp4"></span>
            <span class="control-btn" data-src="../public/images/AboutVideo3.mp4"></span>
        </div>
    </div>

    <div class="content" data-aos="fade-left" data-aos-delay="600">
        <span>why choose us?</span>
        <h3>Nature's Majesty Awaits You</h3>
        <p>Relax and let someone else handle all the details of planning your trip. We take care of organising everything for you, from route planning to making bookings, so you save time and effort. You can look forward to your tour knowing that the experts have everything in hand.</p>
        <a href="itenerary.php" class="btn">read more</a>
    </div>

</section>

<!-- about section ends -->

<!-- destination section starts  -->

<section class="destination" id="destination">

    <div class="heading">
        <span>our destination</span>
        <h1>make yours destination</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../public/images/designation1.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Boracay</h3>
                <p>After its rehabilitation, Boracay reopens as pristine as ever. Fall in love with the island’s soft, white sand, crystal blue waters, and festive atmosphere that make Boracay one of the top tourist destinations of the Philippines.
</p>
                <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <div class="image">
                <img src="../public/images/designation2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Cebu</h3>
                <p>The spotlight is on the majestic island province of Cebu as a highly-urbanized destination rich in historical, cultural, and religious sites.</p>
                <br> <br> <br>
                <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <div class="image">
                <img src="../public/images/designation3.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Palawan</h3>
                <p>The most beautiful place according to renowned French explorer Jacques Costeau, Palawan is home to awe-inspiring paradise islands and islets that transport you to a fantasy world.</p>
                <br> <br> <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <div class="image">
                <img src="../public/images/designation4.jpg" alt="">
            </div>
            <div class="content">
                <h3>Siargao</h3>
                <p>Head over to the surf capital of the Philippines and venture into the great outdoors with Siargao! Named Best Island in Asia by Condé Nast Traveler in 2019</p>
                <br> <br> <br> <br> <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="750">
            <div class="image">
                <img src="../public/images/designation5.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bicol</h3>
                <p>It's not just home to the world-famous Mayon Volcano. The Bicol Region has practically everything you could ask for: delicious cuisine, stunning landscapes, and the friendliest smiles you'll encounter.</p>
                <br> <br><a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="900">
            <div class="image">
                <img src="../public/images/designation6.jpg" alt="">
            </div>
            <div class="content">
                <h3>Mindoro</h3>
                <p>When talking about the province of Mindoro, the famous Puerto Galera comes to mind. But the province has more to offer than its world-renowned beach such as heritage tours, farm tourism, and nature-based wellness activities.</p>
                <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1150">
            <div class="image">
                <img src="../public/images/designation7.png" alt="">
            </div>
            <div class="content">
                <h3>Bataan</h3>
                <p>Discover the magic in this amazing historical and cultural province, only an hour by ferryboat across the bay from Manila.</p>
                <br> <br> <br> <br> <br> <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="../public/images/designation8.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Ilocos Norte</h3>
                <p>Take your pick among the different adventures that await you at Ilocos Norte! Exploring the province is best by land to get the most out of its stunning topography and picturesque views.
                </p>
                <br>    <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="../public/images/designation9.jpg" alt="">
            </div>
            <div class="content">
                <h3>Ilocos Sur</h3>
                <p>Visiting Ilocos Sur is like traveling back in time, with its various churches, buildings, and even entire cities seemingly taken out of the Spanish era.</p>
                <br> <br>  <br><a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="../public/images/designation10.jpg" alt="">
            </div>
            <div class="content">
                <h3>Manila</h3>
                <p>Welcome to the capital of the Philippines! Manila is an excellent hub to learn about the country's culture and history. The metro offers various attractions that make it the perfect spot for staycations!
                </p>
                <br>    <a href="itenerary.php">View Itinerary <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

    </div>

</section>

<!-- destination section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <div class="heading">
        <span>our services</span>
        <h1>countless expericences</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <i class="fas fa-globe"></i>
            <h3>worldwide</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <i class="fas fa-hiking"></i>
            <h3>adventures</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <i class="fas fa-utensils"></i>
            <h3>food & drinks</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="600">
            <i class="fas fa-hotel"></i>
            <h3>affordable hotels</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="750">
            <i class="fas fa-wallet"></i>
            <h3>affordable price</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="900">
            <i class="fas fa-headset"></i>
            <h3>24/7 support</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <div class="heading">
        <span>our gallery</span>
        <h1>we record memories</h1>
    </div>
    
    <div class="box-container">

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="../public/images/GalleryImage1.jpg" alt="" height="400px">
            <span>travel spot</span>
            <h3>Palawan Underground River</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="../public/images/GalleryImage2.jpg" alt="" height="500px">
            <span>travel spot</span>
            <h3>Bicol Casagwa Ruins</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450" >
            <img src="../public/images/GalleryImage3.jpg" alt="" height="600px">
            <span>travel spot</span>
            <h3>Cebu Kawasan Falls</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="../public/images/GalleryImage4.jpg" alt="" height="300px">
            <span>travel spot</span>
            <h3>Boracay</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="../public/images/GalleryImage5.jpg" alt="" height="500px">
            <span>travel spot</span>
            <h3>Ifugao Rice Terraces</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="../public/images/GalleryImage6.jpg" alt="" height="500px">
            <span>travel spot</span>
            <h3>Siargao</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="../public/images/GalleryImage7.jpg" alt="" height="600px">
            <span>travel spot</span>
            <h3>Bohol Chocolate Hills</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="../public/images/GalleryImage8.jpeg" alt="">
            <span>travel spot</span>
            <h3>Davao Samal Island</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="../public/images/GalleryImage9.jpg" alt="" height="600px"> 
            <span>travel spot</span>
            <h3>Nueva Viscaya Mt. Pulag</h3>
        </div>

    </div>

</section>

<!-- gallery section ends -->

<!-- review section starts  -->

<section class="review">

    <div class="content" data-aos="fade-right" data-aos-delay="300">
        <span>testimonials</span>
        <h3>good news from our clients</h3>
        <p>What our customers say about us :)</p>
    </div>

    <div class="box-container" data-aos="fade-left" data-aos-delay="600">

        <div class="box">
            <p>“Booking through you was very easy and made our lives so much easier. I have nothing bad to say! Thank you for giving us tips and guidance before we left on what to bring and such, that was very helpful! Thanks again, Meg S."</p>
            <div class="user">
                <img src="../public/images/testi1.png" alt="">
                <div class="info">
                    <h3>Meg S</h3>
                    <span>Architect</span>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Thank you so much for being proactive (awesome memory, by the way). Maybe it seems like no big deal to you but this is amazing customer service and is greatly appreciated.</p>
            <div class="user">
                <img src="../public/images/testi2.jpeg" alt="">
                <div class="info">
                    <h3>Mark V</h3>
                    <span>Designer</span>
                </div>
            </div>
        </div>
        <div class="box">
            <p>thank you so much for a well organized trip. We had a wonderful time. Hard to believe it's already done and past. Weather was awesome, the hotels were nice, thank you for everything!</p>
            <div class="user">
                <img src="../public/images/testi3.jpg" alt="">
                <div class="info">
                    <h3>Carl M</h3>
                    <span>Engineer</span>
                </div>
            </div>
        </div>
        <div class="box">
            <p>You all are magicians! Thank you for everything you do.</p>
            <div class="user">
                <img src="../public/images/testi4.jpg" alt="">
                <div class="info">
                    <h3>Lance O</h3>
                    <span>Developer</span>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- review section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <div class="heading">
        <span>blogs & posts</span>
        <h1>we untold stories</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../public/images/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="link">Life is a journey, not a destination</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, natus!</p>
                <div class="icon">
                    <a href="#"><i class="fas fa-clock"></i> 21st may, 2021</a>
                    <a href="#"><i class="fas fa-user"></i> by admin</a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <div class="image">
                <img src="../public/images/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="link">Life is a journey, not a destination</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, natus!</p>
                <div class="icon">
                    <a href="#"><i class="fas fa-clock"></i> 21st may, 2021</a>
                    <a href="#"><i class="fas fa-user"></i> by admin</a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <div class="image">
                <img src="../public/images/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="link">Life is a journey, not a destination</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, natus!</p>
                <div class="icon">
                    <a href="#"><i class="fas fa-clock"></i> 21st may, 2021</a>
                    <a href="#"><i class="fas fa-user"></i> by admin</a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- banner section starts  -->

<div class="banner">

    <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>start your adventures</span>
        <h3>Let's Explore The Philippines</h3>
        <p>“Everyone needs this friend that calls and says, “Get dressed, we’re going on an adventure.”</p>
        <a href="#book-form" class="btn">book now</a>
    </div>

</div>

<!-- banner section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <a href="#" class="logo"> <i class="fas fa-paper-plane"></i>travel </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ad?</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>quick links</h3>
            <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#about" class="links"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="#destination" class="links"> <i class="fas fa-arrow-right"></i> destination </a>
            <a href="#services" class="links"> <i class="fas fa-arrow-right"></i> services </a>
            <a href="#gallery" class="links"> <i class="fas fa-arrow-right"></i> gallery </a>
            <a href="#blogs" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <h3>contact info</h3>
            <p> <i class="fas fa-map"></i> Lipa, Batangas </p>
            <p> <i class="fas fa-phone"></i> +63 9082447247 </p>
            <p> <i class="fas fa-envelope"></i> sample@gmail.com </p>
            <p> <i class="fas fa-clock"></i> 7:00am - 10:00pm </p>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email" class="email" id="">
                <input type="submit" value="subscribe" class="btn">
            </form>
        </div>

    </div>

</section>

<div class="credit">created by <span>Group 2</span> | all rights reserved!</div>

<!-- footer section ends -->
<!-- footer section ends -->

<!-- addComment Edrian -->
<!-- comment -->
<!-- try lang -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<script>

    AOS.init({
        duration: 800,
        offset:150,
    });

</script>

</body>
</html>